@charset "UTF-8";
/*Fonts*/
@import url("");
/*Null style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Container*/
.container {
  max-width: 1024px;
  margin: 0px auto;
}

/*Body of page*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.header__title {
  text-align: center;
  margin: 10px 0 0 0;
}
.header__title-content {
  font-size: 34px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
/*Сделал шаблон, пока подбираю дизайн*/
.board__body {
  background-color: rgba(180, 90, 90, 0.8);
  border-radius: 5%;
  max-width: 550px;
  height: 100%;
  margin: 10px auto;
  font-size: 30px;
  font-weight: 600;
}
.board__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.board__items {
  flex: 0 1 33.333%;
  background-color: #17e73a;
  max-width: 150px;
  min-height: 150px;
  margin: 10px;
  border-radius: 10%;
  box-shadow: 1px 1px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  font-size: 100px;
}
.board__info {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  margin: 0 0 20px 0;
}
.board__reset {
  display: block;
  text-align: center;
}
.board__reset-button {
  font-size: 34px;
  font-weight: 600;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 10px;
  margin: 0 0 20px 0;
}
.board__reset-button:hover {
  background-color: #bbbaba;
}
.board__winner {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  color: #000;
  margin: 0 0 20px 0;
  text-decoration: underline;
}

/*----------------Footer-----------------------------------------------*/
.footer__body {
  display: flex;
  min-height: 20px;
  margin: 0 10px;
  background-color: black;
}