@charset "UTF-8";
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Oswald:wght@500&family=Source+Code+Pro:ital,wght@1,600;1,900&family=Libre+Franklin:ital,wght@1,700&display=swap");
/*Null style*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*Container*/
.container {
  max-width: 1024px;
  margin: 0px auto;
}

/*Body of page*/
body {
  font-family: "Lato", sans-serif;
  background: url("/img/images/board/bg_2.jpg") 0 0/cover fixed;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.header__body {
  margin: 10px 0;
}
.header__title {
  text-align: center;
  margin: 0 auto;
  max-width: 550px;
  padding: 10px 0;
}
.header__title-content {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 700;
  font-size: 44px;
  color: #fff;
}
/*Сделал шаблон, пока подбираю дизайн*/
.board {
  margin: 0 10px;
}
.board__body {
  background: url("/img/images/board/bg_1.jpg") center;
  border: 2px solid rgba(97, 96, 96, 0.6);
  border-radius: 5%;
  max-width: 550px;
  height: 100%;
  margin: 0 auto;
  color: #fff;
}
@media (max-width: 553px) {
  .board__body {
    max-width: 450px;
  }
}
@media (max-width: 425px) {
  .board__body {
    max-width: 390px;
  }
}
@media (max-width: 375px) {
  .board__body {
    max-width: 330px;
  }
}
@media (max-width: 320px) {
  .board__body {
    max-width: 300px;
  }
}
.board__row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}
.board__items {
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  font-size: 100px;
  flex: 0 1 33.333%;
  background: rgb(177, 182, 182);
  background: linear-gradient(49deg, rgb(177, 182, 182) 0%, rgb(16, 16, 20) 100%);
  max-width: 150px;
  min-height: 150px;
  margin: 10px;
  border-radius: 10%;
  box-shadow: 1px 1px 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 553px) {
  .board__items {
    max-width: 120px;
    min-height: 120px;
    font-size: 80px;
  }
}
@media (max-width: 425px) {
  .board__items {
    max-width: 100px;
    min-height: 100px;
  }
}
@media (max-width: 375px) {
  .board__items {
    max-width: 80px;
    min-height: 80px;
    font-size: 60px;
  }
}
@media (max-width: 320px) {
  .board__items {
    max-width: 70px;
    min-height: 70px;
    font-size: 40px;
  }
}
.board__info {
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  margin: 10px 0;
  color: #fff;
}
.board__reset {
  display: block;
  text-align: center;
}
.board__reset-button {
  font-family: "Libre Franklin", sans-serif;
  font-size: 34px;
  font-weight: 700;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50px;
  margin: 0 0 10px 0;
  padding: 10px;
}
.board__reset-button:hover {
  background-color: #000;
  color: #fff;
}
.board__winner {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 45px;
  font-weight: 500;
}
/*----------------Footer-----------------------------------------------*/